# ----------------------------
# Django
# ----------------------------
DEBUG=True
SECRET_KEY=django-insecure-local-dev-only
ALLOWED_HOSTS=127.0.0.1,localhost

# ----------------------------
# PostgreSQL (Local)
# ----------------------------
# Format:
# postgresql://USER:PASSWORD@HOST:PORT/DBNAME
#
# Note: URL-encode special chars in password:
#   @ -> %40
#   : -> %3A
#   / -> %2F
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME


# ----------------------------
# Stripe (Test Mode)
# ----------------------------
STRIPE_PUBLIC_KEY=your_pk_test_key_here
STRIPE_SECRET_KEY=your_pk_test_key_here
STRIPE_WEBHOOK_SECRET=your_pk_test_key_here
