# ----------------------------
# Secrets / env
# ----------------------------
.env

# ----------------------------
# Virtual env + caches
# ----------------------------
.venv
__pycache__/
*.pyc
.pytest_cache/

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/
